body{ 
    background-size: cover;
    background-position: left;
    background-image: url(../../assets/crew/background-crew-mobile.jpg);
}

@media(min-width: 35rem){
    body{
        background-image: url(../../assets/crew/background-crew-tablet.jpg);
    }
}

@media(min-width: 45rem){
    body{
        background-image: url(../../assets/crew/background-crew-desktop.jpg);
    }
}

.grid-container-crew{
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: repeat(4,auto) ;
    grid-template-areas: 
    '. header .'
    '. image .'
    '. dotIndicator .'
    '. crewData .';
    --flow-space: 2rem;
    
}
.grid-container-crew > .numbered-title{
    grid-area: header;
    text-align: center;
}

.grid-container-crew > article{
    grid-area: crewData;
    text-align: center;
}

.grid-container-crew > .positions{
}

.grid-container-crew > p{
}

.grid-container-crew > .indicators{
    grid-area: dotIndicator;
    background-color: aqua;
    margin: 0;
    
}

.grid-container-crew > img{
    grid-area: image;
    width: 50%;
    margin-inline:auto ;
    background-color: aqua;
}

@media(min-width: 35rem){
}

@media (min-width: 35rem){
}

.outline{
    outline: red 2px solid;
}



@media (min-width: 45rem ){
}


.paragraph{
    width: clamp(30rem , 20vw + 5rem , 40rem);
    color: hsl(var(--blue)/ 0.9);
}