.destination{
    background-position:top;
    background-size: cover;
    --flow-space: 2rem;
    background-image: url('../../assets/destination/background-destination-mobile.jpg');
}

@media (min-width: 30rem) {
    .destination{
        background-image: url('../../assets/destination/background-destination-tablet.jpg');
    }
}

@media (min-width: 45rem) {
    .destination{
        background-position:right;
        background-image: url('../../assets/destination/background-destination-desktop.jpg');
    }
}

.grid-container > *{
    width: 100%;
    align-items: center;
}
.grid-nav{
    --underline: 1rem;
    list-style: none;
    --gap: 2em;
}

.grid-nav >li > a{
    text-decoration: none;
    color: hsl(var(--white))
}

@media (min-width: 35rem){
    .grid-nav{
        padding-inline: 0;
    } 
}
.data{
    --flow-space: 1rem;
}
