body{
    background-position:top;
    background-size: cover;
    --flow-space: 2rem;
    background-image: url('../../assets/destination/background-destination-mobile.jpg');
}

@media (min-width: 30rem) {
    body{
        background-image: url('../../assets/destination/background-destination-tablet.jpg');
    }
}

@media (min-width: 45rem) {
    body{
        background-position:right;
        background-image: url('../../assets/destination/background-destination-desktop.jpg');
    }
}

.grid-container > *{
    width: 100%;
    
}
.grid-nav{
    justify-content: center;
    --underline: 1rem;
    list-style: none;
    --gap: 2em;
    padding: 0;
}
.grid-nav >li > a{
    text-decoration: none;
    color: hsl(var(--white));
    
}

@media (min-width: 45rem){
    .grid-nav{
        justify-content: flex-start;
    } 
}
.data{
    --flow-space: 1rem;
}
.main-content > div > div{
    flex-direction: column;
    border-top:hsl(var(--white)/0.2) solid 0.01rem;
    margin-top: 2rem;
    padding: 1rem;
    --gap: 0rem;
}

@media (min-width: 58rem){
    .main-content > div > div{
        --gap: 2rem;
        flex-direction: row;
        margin-bottom: 1.6rem;
    }
}